/* apply on every thing in the app */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Navigation bar decoration */
.nav-bar {
    display: flex;
    flex-direction: row;
}

.nav-bar-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    text-align: center;
}

.nav-bar-option a{  
    text-decoration: none;
    font-size: 150%;
    color: #000;
}

#nav-bar-title {
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

