<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header class='nav-bar'>
        <p id='nav-bar-title'>ArchMedia</p>
    </header>
    <h1 class='page-title'>Welcome to ArchMedia</h1>
    <div class='user-login'>
        <h2 id='page-topic'>Login</h2>
        <p id="message">{{message}}</p>
        <form action="/login" method="post">
            <input type="text" id="email" name="email" placeholder="Email">
            <input type="text" id="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        <p id='sign-up'>Do not have an account? Sign up <a href='/signup'>here</a></p>
    </div>
</body>
</html>