<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    {% block rellink %}{% endblock %}
    {% block title %}{% endblock %}
</head>
<body>
    <header class='nav-bar'>
        <a href='/' id='nav-bar-title'>ArchMedia</a>
        <div class='nav-option-container'>
            <div class='nav-bar-option'>
                <a href="/create-user">Create User</a>
            </div>

            <div class='nav-bar-option'>
                <a href="/status">New Feeds</a>
            </div>

            <div class='nav-bar-option'>
                <a href="/logout">Log out</a>
            </div>
        </div>
        {% if name %}
        <div class='welcome-text'>
            <p>Welcome, <span id='welcome-text-name'>{{name}}</span></p>
        </div>
        {% endif %}
    </header>
    {% block body %} {% endblock %}
</body>
</html>