{% extends 'base.html' %}

{% block rellink %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/write_status.css')}}">
{% endblock %}

{% block title %}
    <title>Write status</title>
{% endblock %}

{% block body %}
    <h1 class='page-title'>Write a status</h1>
    <h2 class='poster-name'>Poster: {{user.name}}</h2>
    <div class='user-status'>
        <form action="/write-status/{{user.id}}" method="post">
            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="4" cols="50" placeholder="What are you thinking?"></textarea>
            <label for="mood">Mood:</label>
            <input type="text" id="mood" name="mood" placeholder="How are you feeling?">
            <input type="submit" value="Post">
        </form>
    </div>
{% endblock %}